@import url(variables.css);

* {
    font-family: var(--main-font);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER SECTION */

header {
    position: relative;
}

#logo {
    background: url(../imagenes/logo.svg);
    background-size: contain;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 14px;
    left: 20px;
    z-index: 1;
    font-size: 0;
}

nav {
    background-color: var(--main-color);
}

#navbarNav {
    justify-content: flex-end !important;
}

.nav-link {
    color: var(--secondary-color);
}

/* NOSOTROS SECTION */

.titulo {
    color: var(--main-color);
    border-bottom: 1px solid var(--secondary-color);
}

/* PLANES SECCION */

#planes {
    margin: 0 auto;
}

.lista-planes {
    list-style: none;
    text-align: start;
}

.lista-planes li {
    margin: 4px 0;
}

.card-title {
    color: var(--main-color);
    font-weight: 800;
}

.card-text {
    font-weight: 200;
    font-size: 1.2rem;
}

.card-button {
    width: 80%;
    background-color: var(--main-color);
    color: var(--secondary-color);
    text-transform: uppercase;
}

.card-button:hover {
    color: var(--main-color);
    background-color: var(--secondary-color);
}

.modal-header {
    background-color: var(--main-color);
    color: var(--secondary-color);
    text-transform: uppercase;
}

.modal-dialog {
    margin-top: 25vh;
}

/* SECCION SERVICIOS */

.icono-yoga {
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../imagenes/flor_loto.png);
}

.icono-nutricion {
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../imagenes/om.png);
}

.icono-astrologia {
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../imagenes/yinyang.png);
}

.boton-mas,
.boton-menos {
    background-color: var(--main-color);
    padding: 5px 8px;
    color: var(--secondary-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    border-radius: 8px;
    margin-left: 5vw;
    max-width: 100px;
    text-align: center;
    width: 100%;
    margin: auto;
}

#yoga:target {
    display: none;
}

#yoga:target~.boton-menos {
    display: block;
}

#yoga:target~#yoga-texto {
    display: block;
}

#nutricion:target {
    display: none;
}

#nutricion:target~.boton-menos {
    display: block;
}

#nutricion:target~#nutricion-texto {
    display: block;
}

#astrologia:target {
    display: none;
}

#astrologia:target~.boton-menos {
    display: block;
}

#astrologia:target~#astrologia-texto {
    display: block;
}

.contenedor-servicios div p,
.boton-menos {
    display: none;
}

.contenedor-servicios div h4 {
    color: var(--secondary-color);
    font-size: 32px;
}

/* BACKGROUND SECTION */

.background {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 30px;
    background-image: url(../imagenes/background_desktop.jpg);
}

/* CONTACTO SECTION */

.btn-enviar {
    background-color: var(--main-color);
    color: var(--secondary-color);
    text-transform: uppercase;
}

.btn-enviar:hover {
    transform: scale(1.02);
    transition: 150ms;
    color: var(--main-color);
    background-color: var(--secondary-color);
}

/* FOOTER */

footer {
    background-color: var(--main-color);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-size: 10px;
}

.redes-sociales {
    list-style: none;
    display: flex;
    justify-content: center;
}

.redes-sociales li a {
    display: block;
    margin: 15px 5px;
}

.redes-sociales li a img {
    width: 30px;
    transition: 1s;
}

.redes-sociales li a img:hover {
    transform: scale(1.3);
}

@media screen and (max-width: 992px) {
    #logo {
        left: calc(50% - 40px);
    }

    .menu-links {
        margin-top: 30px;
    }

    .servicio1,
    .servicio2,
    .servicio3 {
        flex-direction: column;
        align-items: center;
    }

    .servicio1 figure,
    .servicio2 figure,
    .servicio3 figure {
        margin-top: 10px;
    }

    .servicio1 article,
    .servicio2 article,
    .servicio3 article {
        display: flex;
        flex-direction: column;
    }


    .background {
        background-image: url('../imagenes/background_mobile.jpg');
    }
}

@media screen and (min-width: 741px) {

    /* SERVICIOS SECTION */
    #yoga,
    #nutricion,
    #astrologia {
        display: none;
    }

    .contenedor-servicios {
        flex-direction: column;
    }

    .contenedor-servicios div p {
        display: block;
    }

    .servicio1,
    .servicio2,
    .servicio3 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }

    .servicio1,
    .servicio3 {
        flex-direction: row-reverse;
    }

    .servicio2 {
        flex-direction: row;
    }

    article {
        width: 50%;
    }

    .contenedor-servicios div picture {
        width: 45%;
        height: auto;
    }


}